.homeContainer {
    display: flex;
}

.homeContainer>div:nth-of-type(odd) {
    flex: 0.2;
}

.homeContainer>div:nth-of-type(even) {
    flex: 0.6;
}

.homeContainer__leftBar {
    border-right:1px solid silver; 
    display: flex;
    flex-direction: column;
    gap: 1.2rem;
    align-items: start;
}

.sideBarOptions {
    display: flex;
    align-items: center;
    font-size: 1.4rem;
    gap: 1.3rem;
    width: 80%;
    min-width: 100px;
    max-width: 80%;
    cursor: pointer;
    transition: all 0.2s;
}
.sideBarOptions:hover{
   
    transform: scale(1.04) 
}

.sideBarOptions>svg {
    height: 1.4rem;
    min-width: fit-content;
}

.homeContainer__extraContainer{
 border-left:1px solid silver; 
 padding:1.2rem;
}
.homeContainer__feedContainer{
    padding-inline:0.8rem;
}