/* [project]/src/pages/dashboard/index.module.css [client] (css) */
.index-module__KVi4QG__scrollComponent {
  background-color: #f3f2ef;
  justify-content: center;
  width: 100%;
  min-height: 100vh;
  padding-top: 2rem;
  padding-bottom: 2rem;
  display: flex;
}

.index-module__KVi4QG__wrapper {
  flex-direction: column;
  gap: 1.5rem;
  width: 100%;
  max-width: 80%;
  display: flex;
}

.index-module__KVi4QG__createPostContainer {
  background-color: #fff;
  border: 1px solid #e0dfdc;
  border-radius: .8rem;
  align-items: center;
  gap: 1rem;
  padding: 1rem 1.5rem;
  display: flex;
  position: relative;
  box-shadow: 0 0 0 1px #00000014, 0 2px 4px #0000000d;
}

.index-module__KVi4QG__userProfile {
  object-fit: cover;
  border: 1px solid #e0dfdc;
  border-radius: 50%;
  width: 48px;
  height: 48px;
}

.index-module__KVi4QG__textAreaOfContent {
  resize: none;
  color: #333;
  cursor: text;
  background-color: #fff;
  border: 1px solid #a8a8a8;
  border-radius: 35px;
  outline: none;
  flex-grow: 1;
  height: 3rem;
  padding: .9rem 1.2rem;
  font-family: -apple-system, system-ui, BlinkMacSystemFont, Segoe UI, Roboto, Helvetica Neue, Fira Sans, Ubuntu, Oxygen, Oxygen Sans, Cantarell, Droid Sans, Apple Color Emoji, Segoe UI Emoji, Segoe UI Symbol, Lucida Grande, Helvetica, Arial, sans-serif;
  font-size: .95rem;
  font-weight: 500;
  line-height: normal;
  transition: background-color .2s;
  overflow: hidden;
}

.index-module__KVi4QG__textAreaOfContent:hover {
  background-color: #ebebeb;
}

.index-module__KVi4QG__fab {
  cursor: pointer;
  color: #5e5e5e;
  border-radius: 50%;
  justify-content: center;
  align-items: center;
  padding: .6rem;
  transition: background-color .2s;
  display: flex;
}

.index-module__KVi4QG__fab:hover {
  background-color: #ebebeb;
}

.index-module__KVi4QG__fab > svg {
  color: #0a66c2;
  width: 24px;
  height: 24px;
}

.index-module__KVi4QG__uploadButton {
  color: #fff;
  cursor: pointer;
  background-color: #0a66c2;
  border-radius: 1.5rem;
  padding: .4rem 1.2rem;
  font-size: .9rem;
  font-weight: 600;
  transition: background-color .2s;
  position: absolute;
  bottom: -3rem;
  right: 1.5rem;
  box-shadow: 0 2px 4px #0003;
}

.index-module__KVi4QG__uploadButton:hover {
  background-color: #004182;
}

.index-module__KVi4QG__postsContainer {
  flex-direction: column;
  gap: .8rem;
  display: flex;
}

.index-module__KVi4QG__singleCard {
  background-color: #fff;
  border: 1px solid #e0dfdc;
  border-radius: .8rem;
  flex-direction: column;
  gap: .5rem;
  padding-top: .8rem;
  padding-bottom: .4rem;
  display: flex;
  box-shadow: 0 0 0 1px #00000014;
}

.index-module__KVi4QG__cardHeader {
  align-items: flex-start;
  gap: .8rem;
  margin-bottom: .5rem;
  padding: 0 1rem;
  display: flex;
}

.index-module__KVi4QG__avatar {
  object-fit: cover;
  border: 1px solid #e0dfdc;
  border-radius: 50%;
  width: 48px;
  height: 48px;
}

.index-module__KVi4QG__cardInfo {
  flex-direction: column;
  justify-content: center;
  display: flex;
}

.index-module__KVi4QG__cardInfo h4 {
  color: #191919;
  margin: 0;
  font-size: .95rem;
  font-weight: 600;
  line-height: 1.4;
}

.index-module__KVi4QG__cardInfo h4:hover {
  color: #0a66c2;
  cursor: pointer;
  text-decoration: underline;
}

.index-module__KVi4QG__cardInfo p {
  color: #666;
  margin: 0;
  font-size: .8rem;
  line-height: 1.3;
}

.index-module__KVi4QG__cardBody {
  flex-direction: column;
  gap: .5rem;
  display: flex;
}

.index-module__KVi4QG__cardBody p {
  color: #191919;
  white-space: pre-wrap;
  padding: 0 1rem;
  font-size: .95rem;
  line-height: 1.5;
}

.index-module__KVi4QG__postMediaContainer {
  background-color: #f8f8f8;
  border-top: 1px solid #eef3f8;
  border-bottom: 1px solid #eef3f8;
  justify-content: center;
  width: 100%;
  display: flex;
}

.index-module__KVi4QG__postMediaContainer img {
  object-fit: cover;
  max-width: 100%;
  max-height: 600px;
  display: block;
}

.index-module__KVi4QG__cardFooter {
  border-top: 1px solid #e0dfdc;
  justify-content: space-around;
  align-items: center;
  margin-top: .5rem;
  padding: .4rem .5rem 0;
  display: flex;
}

.index-module__KVi4QG__actionButton {
  cursor: pointer;
  color: #666;
  border-radius: .4rem;
  justify-content: center;
  align-items: center;
  gap: .5rem;
  padding: .8rem .6rem;
  font-size: .9rem;
  font-weight: 600;
  transition: background-color .2s;
  display: flex;
}

.index-module__KVi4QG__actionButton:hover {
  background-color: #f3f3f3;
}

.index-module__KVi4QG__actionButton svg {
  stroke-width: 1.8px;
  width: 20px;
  height: 20px;
}

.index-module__KVi4QG__deleteButton {
  cursor: pointer;
  color: #666;
  border-radius: 50%;
  margin-left: auto;
  padding: .4rem;
  transition: background-color .2s;
}

.index-module__KVi4QG__deleteButton:hover {
  color: #cc1016;
  background-color: #f3f3f3;
}

.index-module__KVi4QG__deleteButton svg {
  width: 20px;
  height: 20px;
}

.index-module__KVi4QG__commentsContainer {
  z-index: 2000;
  background: #000000b3;
  justify-content: center;
  align-items: center;
  width: 100vw;
  height: 100vh;
  display: flex;
  position: fixed;
  top: 0;
  left: 0;
  overflow: hidden;
}

.index-module__KVi4QG__allCommentsContainer {
  background: #fff;
  border-radius: 10px;
  flex-direction: column;
  width: 40vw;
  height: 80vh;
  padding: 1.4rem;
  display: flex;
  position: relative;
}

.index-module__KVi4QG__allCommentsContainer > div:first-of-type {
  flex: 1;
  margin-bottom: 4rem;
  padding-bottom: 1rem;
  overflow-y: auto;
}

.index-module__KVi4QG__singleCommentContainer {
  align-items: flex-start;
  gap: 12px;
  margin-bottom: 15px;
  padding: 5px;
  display: flex;
}

.index-module__KVi4QG__singleCommentContainer img {
  object-fit: cover;
  border-radius: 50%;
  flex-shrink: 0;
  width: 40px;
  height: 40px;
}

.index-module__KVi4QG__singleCommentContainer > div {
  flex-direction: column;
  gap: 2px;
  display: flex;
}

.index-module__KVi4QG__singleCommentContainer p {
  word-break: break-word;
  margin: 0;
  line-height: 1.4;
}

.index-module__KVi4QG__postCommentContainer {
  background-color: #fff;
  justify-content: center;
  align-items: center;
  gap: 1.2rem;
  width: 90%;
  display: flex;
  position: absolute;
  bottom: 1.2rem;
  left: 50%;
  transform: translateX(-50%);
}

.index-module__KVi4QG__postCommentContainer > input {
  background-color: #e4e4e4;
  border: none;
  border-radius: 10px;
  outline: none;
  flex: 1;
  padding-block: 1.2rem;
  padding-inline: 1.5rem;
}

.index-module__KVi4QG__postCommentContainer > input:focus {
  border: 1px solid silver;
}

.index-module__KVi4QG__postCommentContainer__commentBtn {
  color: #fff;
  cursor: pointer;
  white-space: nowrap;
  background: orange;
  border-radius: 10px;
  align-items: center;
  width: fit-content;
  padding: 1.2rem;
  font-weight: 600;
}

@media screen and (max-width: 768px) {
  .index-module__KVi4QG__wrapper {
    max-width: 98%;
  }

  .index-module__KVi4QG__allCommentsContainer {
    width: 95vw;
    height: 70vh;
    padding: 1rem;
  }

  .index-module__KVi4QG__postCommentContainer {
    gap: .5rem;
    width: 95%;
    bottom: .8rem;
  }

  .index-module__KVi4QG__postCommentContainer > input {
    padding-block: .8rem;
    padding-inline: 1rem;
    font-size: .9rem;
  }

  .index-module__KVi4QG__postCommentContainer__commentBtn {
    padding: .8rem 1rem;
    font-size: .9rem;
  }
}

/*# sourceMappingURL=src_pages_dashboard_index_module_css_65f1660e._.single.css.map*/